.Message {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-content: center;
    position: relative;
    background: rgb(248, 239, 239);
}



.Chancellor{
    padding: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
}

.Title{
    font-size: 1.5rem; 
    font-weight: bold;
    color: #333;      
    text-transform: uppercase; 
    letter-spacing: 2px;    
    margin-bottom: 1rem;    
    text-align: center;
    font-style: italic;
    font-family:  cursive;

}


.Chancellor>div{
    display: grid;
    grid-template-columns: 40% 60%;
}


.message{
    text-align: justify;
    font-size: 15px;
}

.Chancellor>div>img{
    width: 70%;
    height: 70%;
    border-radius: 50%;
}




.Links{
    padding-top: 10%;
    display: flex;
    flex-direction: row;
    font-size: larger;
    font-weight: 600;
}

.item-1, .item-2{
    width: 100%;
}


.Links>div>ul>li{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5%;
    cursor: pointer;
}

.Links>div>ul>li:hover{
    border-bottom: solid yellow 2px;
    width: 100%;
    color: green;
}


.Links>div>ul>li>span{
    font-size: 40px;
}


@media (max-width: 768px) {
    .Message{
        display: flex;
        flex-direction: column;
    }


    .Links>div>ul>li>span{
        font-size: 20px;
    }


    .Links>div>ul>li{
        font-size: 10px;
    }

    .message{
        text-align: justify;
        font-size: 10px;
    }
}